body {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background: #1d1d1d;
	text-align: center;
	vertical-align: middle;
	width: 100%;
	height: 100%;
}

.text {
	color: white;
	font-size: 45px;
	font-family: proximaNova
}

.subtext {
	color: darkgray;
	font-size: 30px;
}

.fadeIn {
    animation: fadeIn 1000ms ease-in-out;
}

.fadeOut {
    animation: fadeIn 1000ms ease-in-out reverse;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@font-face {
	font-family: proximaNova;
	src: url('../fonts/proximaNova.eot'); /* IE9 Compat Modes */
	src: url('../fonts/proximaNova.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/proximaNova.woff') format('woff'), /* Modern Browsers */
	url('../fonts/proximaNova.ttf')  format('truetype'), /* Safari, Android, iOS */
	url('../fonts/proximaNova.svg#svgFontName') format('svg'); /* Legacy iOS */
}

#container {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 100%;
}

#home {
	visibility: visible;
    width: 100%;
    height: 100%;
    transform: translateY(-25%);
}

#logo {
	width: 200px;
	height: 200px;
	margin-bottom: 25px;
	color: #ed1c24;
	font-size: 200px;
}

#title {

}

#subtitle {
	margin-bottom: 50px;
}

#searchBar {
	width: 350px;
	height: 50px;
	float: left;
	border-radius: 25px;
	text-align: center;
	border: 0;
	font-size: 30px;
	position: absolute;
	left: 50%;
	transform: translateX(-60%);
    color: #1d1d1d;
}

#searchButton {
	padding: 5px;
	margin-left: 15px;
	float: left;
	background: #ed1c24;
	border-radius: 25px;
	transition: background 330ms, color 330ms;
	position: absolute;
	left: 50%;
	transform: translateX(+175%);
}

#searchButton:hover {
	cursor: pointer;
	color: #ed1c24;
	background: white;
	transition: background 330ms, color 330ms;
}

#stats {
	visibility: hidden;
	transform: translateY(-175%);
    width: 100%;
    height: 100%;
    position: absolute;
}

#avatar {
	margin-bottom: 30px;
	font-size: 100px;
	color: #ed1c24;
}

#movies, #episodes {
    /*margin-top: 100px;*/
    width: 50%;
    visibility: hidden;
    float: left;
}

#moviesWatched, #episodesWatched {
    margin-top: 50px;
    color: darkgray;
}

#moviesPlayed, #episodesPlayed,
#moviesMinutes, #episodesMinutes,
#moviesCalculated, #episodesCalculated {
    margin-top: 100px;
    color: darkgray;
}

#moviesWatched, #moviesWatchedSubtitle, #episodesWatchedSubtitle, #episodesWatched,
#moviesPlayed, #moviesPlayedSubtitle, #episodesPlayedSubtitle, #episodesPlayed,
#moviesMinutes, #moviesMinutesSubtitle, #episodesMinutes, #episodesMinutesSubtitle,
#moviesCalculated, #moviesCalculatedSubtitle, #episodesCalculated, #episodesCalculatedSubtitle {
     font-size: 30px;
}

#about {
	visibility: hidden;
}

#footer {
	position: fixed;
	bottom: 1%;
	left: 50%;
	transform: translateX(-50%);
	transition: color 500ms;
}

#footer:hover {
	cursor: pointer;
	color: #ed1c24;
	transition: color 500ms;
}

#footerText {
	float: left;
	font-size: 30px;
	margin-right: 10px;
	line-height: 35px;
}

#traktLogo {
	float: left;
	width: 40px;
	height: 40px;
	background-image: url("../img/trakt.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

::selection {
	color: white;
	background: #ed1c24;
}

textarea, select, input, button {
	outline: none;
	border: 0;
}